@model ClienteModel
@{
    ViewData["Title"] = "Excluir Cliente";
}
<div class="center">
    <div class="text-center">
        <h1 class="display-4">Deseja excluir (@Model.Nome)?</h1>
        
        <a class="btn btn-danger" asp-controller="Cliente" asp-action="ConfirmarExclusao" asp-route-id="@Model.Id" role="button">Confirmar</a>
        <a class="btn btn-secondary" asp-controller="cliente" asp-action="Index" role="button">Cancelar</a>
    </div>
</div>