@{
    ViewData["Title"] = "Excluir Cliente";
}
<div class="center">
    <div class="text-center">
        <h1 class="display-4">Deseja excluir o cliente?</h1>
        <a class="btn btn-danger" role="button">Confirmar</a>
        <a class="btn btn-secondary" asp-controller="Cliente" asp-action="Index" role="button">Cancelar</a>
    </div>
</div>